
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #map {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }

        .leaflet-interactive {
            stroke: rgba(255, 0, 0, 0.4);
            fill: rgba(255, 0, 0, 0.2);
            fill-opacity: 1;
        }
        