html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.node-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-row {
    display: flex;
    gap: 4px;
    pointer-events: auto;
}

.controls-row:last-child {
    margin-top: 6px;
}

.preview-button,
.delete-button,
.file-button,
.loop-button,
.shape-button,
.playmode-button,
.fade-button,
.lock-button {
    background: white;
    border: 1px solid #bbbbbb;
    border-radius: 4px;

    font-size: 12px;
    width: 34px;
    height: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;

    transition: 
        background 0.12s,
        transform 0.08s,
        border-color 0.12s;
}

.preview-button:hover,
.delete-button:hover,
.file-button:hover,
.loop-button:hover,
.shape-button:hover,
.playmode-button:hover,
.fade-button:hover,
.lock-button:hover {
    background: #eee;
}

.preview-button:active,
.file-button:active,
.delete-button:active,
.loop-button:active,
.shape-button:active,
.playmode-button:active,
.fade-button:active,
.lock-button:active {
    background: #ccc;
    border-color: #000;
    transform: scale(0.9);
}

.loop-button.active {
    background: #ccc;
}

.loop-button.active:hover {
    background: #ddd;
}

.file-button.missing-audio {
    background: #ff9999;
    border-color: #fff;
}

.node-controls {
    pointer-events: none;
}

.controls-row {
    display: flex;
    gap: 4px;
    pointer-events: auto;
}


.leaflet-control {
    float: none !important;
    clear: none !important;
}

.leaflet-top.leaflet-left {
    display: flex;
    flex-direction: row;
    gap: 0px
}


.button-cluster {
    display: flex;
    flex-direction: row;
     margin-right: 12px;
}

.button-cluster:last-child {
    margin-right: 0;
}







.sim-button,
.save-button,
.load-button,
.title-button,
.map-toggle-button,
.export-button,
.draw-button,
.layer-button,
.info-button {
    background: #f5f5f5;
    border: 2px solid #bbbbbb;
    border-radius: 4px;

    width: 58px;
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    cursor: pointer;
    user-select: none;

    transition: background 0.15s, color 0.15s, border-color 0.15s;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.map-toggle-button:hover,
.load-button:hover,
.save-button:hover,
.sim-button:hover,
.title-button:hover,
.export-button:hover,
.draw-button:hover,
.layer-button:hover,
.info-button:hover {
    background-size: 90%;
    background-color: #e9e9e9;
}

.draw-button:active,
.map-toggle-button:active,
.load-button:active,
.save-button:active,
.sim-button:active,
.title-button:active,
.export-button:active,
.layer-button:active,
.info-button:active {
    background-size: 70%;
}

.layer-button.write {
    outline: 4px solid rgba(255, 159, 54, 1);
}

.map-toggle-button.selected,
.sim-button.selected,
.draw-button.selected,
.layer-button.selected,
.info-button.selected {
    background-color: #949494;
    border-color: #000;
}

.layer1-button.selected{
    background-color: rgba(225, 146, 128);
}
.layer2-button.selected{
    background-color: rgba(255, 231, 128);
}
.layer3-button.selected{
    background-color: rgba(128, 186, 255);
}
.layer4-button.selected{
    background-color: rgba(153, 255, 153);
}

.map-toggle-button {
    background-image: url("./assets/satellite.png");
}
.layer1-button {
    background-image: url("./assets/layer1.png");
}
.layer2-button {
    background-image: url("./assets/layer2.png");
}
.layer3-button {
    background-image: url("./assets/layer3.png");
}
.layer4-button {
    background-image: url("./assets/layer4.png");
}
.info-button {
    background-image: url("./assets/info.png");
}
.load-button {
    background-image: url("./assets/load.png");
}
.save-button {
    background-image: url("./assets/save.png");
}
.export-button{
    background-image: url("./assets/export.png");
}
.title-button{
    background-image: url("./assets/title.png");
}
.draw-button{
    background-image: url("./assets/path.png");
}
.sim-button {
    background-image: url("./assets/simulate.png");
}


.node-label {
    width: 180px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    background: rgba(0,0,0,0.25);
    color: white;

    padding: 2px;
    border-radius: 4px;

    font-size: 11px;
    text-align: center;

    white-space: nowrap;
    pointer-events: none;
}



.volume-slider {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 6px;

    background: white;
    border: 1px solid #bbbbbb;
    border-radius: 4px;

    outline: none;
    cursor: pointer;

    transition: background 0.12s, border-color 0.12s;
}


.volume-slider::-webkit-slider-runnable-track {
    height: 6px;
    background: transparent;
}

.volume-slider::-moz-range-track {
    height: 6px;
    background: transparent;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: 12px;
    height: 16px;

    background: white;
    border: 1px solid #bbbbbb;
    border-radius: 4px;

    cursor: pointer;
    margin-top: -6px;

    transition: 
        background 0.12s,
        transform 0.08s,
        border-color 0.12s;
}

.volume-slider::-moz-range-thumb {
    width: 12px;
    height: 16px;

    background: white;
    border: 1px solid #bbbbbb;
    border-radius: 4px;

    cursor: pointer;
}

.volume-slider:hover {
    background: #eee;
}

.volume-slider:hover::-webkit-slider-thumb {
    background: #eee;
}

.volume-slider:active::-webkit-slider-thumb {
    background: #ccc;
    border-color: #000;
    transform: scale(0.9);
}

.volume-slider:active::-moz-range-thumb {
    background: #ccc;
    border-color: #000;
}

.edit-handle {
    width: 12px;
    height: 12px;
    background: rgba(255,255,255,0.9);
    border: 2px solid rgba(75,75,75,0.9);
    border-radius: 50%;
}

.delete-popup-content {
    font-size: 12px;
    text-align: center;
}

.delete-popup-content .title {
    margin-bottom: 6px;
    font-weight: bold;
}

.delete-popup-content .buttons {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.delete-popup-content button {
    padding: 2px 6px;
    font-size: 11px;
    cursor: pointer;
}

.viewpoint-marker {
    font-size: 36px;
    text-align: center;
    pointer-events: auto;
}

.viewpoint-editor .editor-box {
    background: white;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 180px;
}

.viewpoint-editor textarea {
    width: 100%;
    height: 60px;
    resize: none;
    margin-bottom: 6px;
}

.viewpoint-editor .buttons {
    display: flex;
    justify-content: space-between;
}

.viewpoint-hover .hover-box {
    background: rgba(255,255,255,0.95);
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 13px;
    max-width: 200px;
    white-space: pre-wrap;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.has-note {
    filter: drop-shadow(0 0 3px gold);
}

.info-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
}

.info-content {
    background: #f7f7f7; 
    color: #222; 

    padding: 20px;
    border-radius: 12px;
    border: 4px solid #9d9d9d;

    width: 75vw;
    max-width: 75vw;

    font-size: 18px;
    line-height: 1.6;

    column-count: 2;
    column-gap: 30px;
}

.info-content h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #0052a4;;
}

.info-content h4 {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 4px;
    color: #0066cc;
    break-after: avoid;
}

.inline-icon {
    width: 26px;
    height: 26px;
    object-fit: contain;
    vertical-align: middle;
}

.layer1.path {
    stroke: rgba(225, 100, 75, 0.4);
}
.layer2.path {
    stroke: rgba(224, 196, 76, 0.4);
}
.layer3.path {
    stroke: rgba(92, 158, 255, 0.4);
}
.layer4.path {
    stroke: rgba(82, 219, 82, 0.4);
}